<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>index</title>

</head>
<p>
    <header>
<p>
    <img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/hospital.png" align="right">
</p></header>

<div class="row">
    <iframe style="width: 80vw; height: 50vh; border: none;" src="https://query.wikidata.org/embed.html#%23Map%20of%20hospitals%0A%23added%202017-08%0A%23defaultView%3AMap%0ASELECT%20*%0A%0AWHERE%20%7B%0A%20%20%3FName%20wdt%3AP31%2Fwdt%3AP279*%20wd%3AQ16917%3B%20%20%0A%20%20%20%20%20%20%20%20wdt%3AP625%20%3Fgeo%3B%23location%20%0A%20%20%20%20wdt%3AP17%20wd%3AQ142.%0A%0A%20%20%7D%20%0A%20%20%0A%20%20%20%20%0A%0A%0A%0A%0A" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
</div>

</body>
</html>